:root {
  --text-color: #757575;
  --background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --title-text-color: #212121;
  --name-text-color: #212121;
  --logo-blue-color: #2196f3;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --active-color: #2196f3;
  --background-button-color-blue: #2196f3;
  --background-button-color: #f5f4fa;
  --text-button-color: #ffffff;
  --text-footer-color: #ffffff;
  --text-footer-tel-mail-color: #ffffff9c;
  --icons-social-color: #afb1b8;
  --icons-header-color: #757575;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font, "Verdana", sans-serif);
  color: var(--text-color, black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  text-align: center;
  color: var(--title-text-color, black);
}

.title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  text-transform: uppercase;
  color: var(--title-text-color, black);
}

.section {
  padding: 94px 0;
}

.logo {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: var(--logo-font, sans-serif);
  font-weight: 700;
  text-decoration: none;
  margin-right: 93px;
}

.logo-color {
  color: var(--logo-blue-color, blue);
}

.header__logo {
  color: var(--logo-black-color, black);
}

.footer__logo {
  color: var(--logo-white-color, white);
}

/* -------global-social-icons-------- */
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__item {
  width: 44px;
  height: 44px;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}

.social-icons__link:hover {
  background-color: var(--active-color, blue);
}

.social-icons__link:focus {
  outline: 2px solid var(--active-color);
}

.social-icons__icon {
  fill: var(--icons-social-color);
  transition: fill 250ms var(--cubic-bezier);
}

.social-icons__item:hover .social-icons__icon,
.social-icons__item:focus .social-icons__icon {
  fill: var(--logo-white-color, white);
}

/* -------footer-------- */
.social-icons__fond {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__footer-icon {
  fill: var(--logo-white-color, white);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  color: var(--title-text-color, black);
  background-color: var(--background-button-color, grey);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms var(--cubic-bezier), 250ms var(--cubic-bezier);
}

.button:hover, .button:focus {
  background-color: var(--active-color, blue);
  color: var(--text-button-color, white);
}

.button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---------------menu--portfolio---------------*/
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.header {
  padding: 25px 0;
  border-bottom: var(--header-border) solid 1px;
}

.header__list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: var(--main-font, sans-serif);
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 250ms var(--cubic-bezier);
}

.header__item:hover, .header__item:focus {
  color: var(--active-color, blue);
}

.header__item:not(:first-child) {
  margin-left: 50px;
}

.header__icon {
  fill: var(--icons-header-color);
  transition: fill 250ms var(--cubic-bezier);
}

.header__item:hover .header__icon,
.header__item:focus .header__icon {
  fill: var(--active-color, blue);
}

.header__link {
  margin-left: 10px;
}

.header__menu-link--active {
  color: var(--active-color, blue);
}

.header__menu-link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-button-color-blue, blue);
  position: absolute;
  top: 46px;
  left: 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__menu-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: var(--main-font, sans-serif);
  font-weight: 500;
  display: flex;
  color: var(--title-text-color, black);
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header__menu-link {
  position: relative;
  transition: color 250ms var(--cubic-bezier);
}

.header__menu-link:hover, .header__menu-link:focus {
  color: var(--active-color, blue);
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--logo-white-color, white);
  text-align: center;
}

.hero__button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  background-color: var(--background-button-color-blue, blue);
  color: var(--text-button-color, white);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 30px auto 0;
  border: none;
  padding: 10px 32px;
}

.about__list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin-bottom: 30px;
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  margin-top: 10px;
}

.services {
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  margin-top: 50px;
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__fond-item {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__title {
  color: var(--text-button-color, white);
}

.team {
  background: var(--background-color, grey);
}

.team__list {
  display: flex;
  margin-top: 50px;
  text-align: center;
}

.team__item {
  background-color: var(--logo-white-color, white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.specialist {
  padding: 30px 0;
}

.specialist__name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 500;
  color: var(--name-text-color, black);
}

.specialis__qualification {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  margin-top: 10px;
  margin-bottom: 16px;
}

.client__list {
  display: flex;
  margin-top: 50px;
}

.client__item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--cubic-bezier);
}

.client__item + .client__item {
  margin-left: 30px;
}

.client__item:hover, .client__item:focus {
  fill: var(--active-color, blue);
  border-color: var(--active-color, blue);
}

.client__link:focus {
  outline: 2px solid var(--active-color);
}

.client__icon {
  fill: var(--icons-social-color);
  transition: fill 250ms var(--cubic-bezier);
}

.client__item:hover .client__icon,
.client__item:focus .client__icon {
  fill: var(--active-color, blue);
  border-color: var(--active-color, blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__item {
  border-right: var(--portfolio-border) 1px solid;
  border-left: var(--portfolio-border) 1px solid;
  border-bottom: var(--portfolio-border) 1px solid;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  overflow: hidden;
  position: relative;
}

.card__text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  color: var(--text-button-color);
  transition: transform 250ms var(--cubic-bezier);
  transform: translateY(100%);
  top: 0;
}

.portfolio-list__item:hover .card__text {
  transform: translateY(0);
}

.card__space {
  padding: 20px 24px;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  color: var(--title-text-color, black);
}

.card__description {
  font-size: 16px;
  line-height: 1.83;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  margin-top: 4px;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.footer__item:not(:first-child) {
  margin-top: 9px;
}

.footer__adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  color: var(--text-footer-color, white);
  margin-top: 20px;
}

.footer__mail-tel {
  color: var(--text-footer-tel-mail-color);
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  text-transform: uppercase;
  color: var(--logo-white-color, black);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__icons {
  margin-left: 70px;
}

.footer__right {
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.footer-form__icon {
  margin-left: 10px;
}

.footer-form__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--background-color);
  padding: 15px 3px 15px 16px;
  margin-right: 12px;
}

.footer-form__input:focus {
  outline: transparent;
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.footer-form__button:focus, .footer-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*---------modal---------*/
.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--header-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-bezier);
}

.modal__close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--cubic-bezier);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--active-color);
  outline-color: var(--active-color);
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  font-size: 20px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  text-align: center;
}

.modal-form__label,
.modal-form__comment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
}

.modal-form__comment {
  margin-bottom: 20px;
}

.modal-form__text {
  display: block;
  margin-bottom: 4px;
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 2px 12px 42px;
  cursor: pointer;
}

.modal-form__input:focus {
  border: none;
  outline: 1px solid var(--active-color);
}

.modal-form__icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icons {
  fill: var(--active-color);
}

.modal-form__texterea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form__texterea:focus {
  border: none;
  outline: 1px solid var(--active-color);
}

.modal-form__texterea.modal-form__texterea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__link {
  color: var(--active-color);
  margin-left: 6px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--active-color);
  border: transparent;
  fill: var(--background-color);
}

.modal-form__button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--background-color);
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.modal-form__button:hover, .modal-form__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */