:root {
  --text-color: #757575;
  --background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --title-text-color: #212121;
  --name-text-color: #212121;
  --logo-blue-color: #2196f3;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --active-color: #2196f3;
  --background-button-color-blue: #2196f3;
  --background-button-color: #f5f4fa;
  --text-button-color: #ffffff;
  --text-footer-color: #ffffff;
  --text-footer-tel-mail-color: #ffffff9c;
  --icons-social-color: #afb1b8;
  --icons-header-color: #757575;

  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}